@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body{
    background-color: #edf2f8;
    overflow: hidden;
}
.card{
    background-color: #ffffff;
    width: 700px;
    height: 240px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
    margin-top: 20vh;
    font-family: "manrope";
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}
.pic{
    align-self: center;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    width: 290px;
}
.pic img{
    width: 270px;
    height: 240px;
    align-items: center;
}
.info{
    width: 400px;
    padding: 40px;
}
.info p{
    font-weight: 700;
    font-size: 20px;
    width: 350px;
    margin: 0;
    margin-bottom: 10px;
}
.info p1{
    display: block;
    font-weight: 600;
    color: #353638c6;
    font-size: 0.8rem;
    width: 350px;
}


.author {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
    box-sizing: border-box; 
    position: relative; 
}

.author-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.author-left p {
    margin: 0;
    font-size: 14px;
}

.author-left span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.653);
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile img {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.author-right {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-left: auto; 
    position: relative;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.author-right:hover{
    background-color: #49556b;
}
.share:hover{
    fill: #ffffff;
}
.author{
    width: fit-content;
    padding: 0;
    width: 350px;
}
.author-info{
    width: 200px;
}

.share {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.share-container{
    font-family: "manrope";
    font-weight: 100;
    display: none;
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    background-color: #49556a;
    color: rgba(255, 255, 255, 0.493);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    white-space: nowrap;
    margin-bottom: 10px;
}
.share-container::after {
    content: '';
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #49556a; 
}
.author-right:hover .share-container {
    display: flex; 
    align-items: center;
    gap: 10px;
}
.share svg {
    width: 15px;
    height: 13px;
    fill: #6E8098; /* Fill color for the icon */
}